.categories {
    margin-bottom: 64px;

    &__item-list {
        display: flex;
        gap: 16px;
        justify-content: space-between;
    }

    &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 6px;
        width: 135px;
        height: 112px;
        padding: 22px 28px 16px 28px;
        border: none;
        border-radius: 8px;
        background-color: #97CAD114;
        cursor: pointer;

        h3 {
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            align-items: center;
        }
    }
}