.friendships {
    margin-bottom: 54px;
    &-title {
        h3 {
            font-weight: 600;
            font-size: 28px;
            line-height: 26px;
            margin-bottom: 16px;
        }

        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 28px;
            color: #707070;
            max-width: 880px;
        }
    }

    &__item-list {
        display: flex;
        gap: 32px;
        justify-content: space-between;
    }

    &-item__text {
        h4 {
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;  
            padding: 24px 70px 12px 0;
        }

        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;  
            height: 120px;
            margin-bottom: 16px;
            color: #707070;
            max-width: 365px;
        }

        a {
            color: #00798A;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            text-decoration: none; 
        }
    }
}